#header{
    text-align: center;
}

.chat1 {
    display: flex;
    align-items: center;
}

.chat1 img {
    margin-right: 20px; 
}

.chat1 h4, .chat1 p {
    margin: 0;
    margin-left: 0;
}

.chat1 h4 {
    margin-top: -30px; 
}

.chat1 p{
    margin-left: -47px;
    margin-top: 30px;
    font-size: 13px;
    color: gray;
}

.chat2 {
    display: flex;
    align-items: center;
}

.chat2 img {
    margin-right: 20px; 
}

.chat2 h4, .chat2 p {
    margin: 0; /* .chat2 p에 대한 스타일 규칙을 .chat2 p로 변경 */
    margin-left: 0; /* .chat2 p에 대한 스타일 규칙을 .chat2 p로 변경 */
}

.chat2 h4 {
    margin-top: -30px; 
}

.chat2 p{
    margin-left: -47px;
    margin-top: 30px;
    font-size: 13px;
    color: gray;
}
.navbar {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    margin-bottom: 0;
    background-color: darkgreen;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.navbar div {
    text-align: center;
    color: gray;
    font-size: 10px;
    text-decoration: none;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar img {
    width: 24px;
    height: 24px;
}

.navbar div:hover {
    color: white;
}

.navbar div:hover img {
    filter: brightness(0) invert(1);
}

