#header img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
#header h3 {
    display: inline-block;
    margin-right: 70px;
    margin-left: 20px;
    margin-top: 0px;
}

.filmcamera {
    display: inline-block;
}

.filmcamera img {
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.filmcamera-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.filmcamera-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.filmcamera-details p {
    font-size: 10px;
    margin-top: 0;
}

.filmcamera img:last-child {
    margin-left: 92px; 
}

.hoodie {
    display: inline-block;
}

.hoodie img {
    vertical-align: top;
    margin-left: 15px;
    margin-top:30px;
}

.hoodie-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top:30px;
}

.hoodie-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.hoodie-details p {
    font-size: 10px;
    margin-top: 0;
}

.hoodie img:last-child {
    margin-left: 70px; 
}

.book {
    display: inline-block;
}

.book img {
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.book-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.book-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.book-details p {
    font-size: 10px;
    margin-top: 0;
}

.book img:last-child {
    margin-left: 23px; 
}
.none img{
    margin-left: 20px;
    margin-top: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar {
    background-color: darkgreen;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.navbar div {
    text-align: center;
    color: gray;
    font-size: 10px;
    text-decoration: none;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar img {
    width: 24px;
    height: 24px;
}

.navbar div:hover {
    color: white;
}

.navbar div:hover img {
    filter: brightness(0) invert(1);
}
