html{
    background-color: #f0f0f0;
    font-family: 'Noto Sans KR', sans-serif;    
}

body { 
    font-family: 'Noto Sans KR', sans-serif;  
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    text-decoration: none;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 0px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

.listarea{
    padding-bottom:60px;
}

.listarea button:hover{
    filter:brightness(130%);
}

.listarea h4{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px;
}

.listarea p{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.listarea img{
    width:100px;
    height: 100px;
    border-radius: 10px;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.item button {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    border-radius: 10px;
    background-color: darkgreen;
    border: none;
    width: 100px;
    height: 30px;
    color: white;

}

.item button:disabled {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    border: none;
    width: 100px;
    height: 30px;
    color: white;

}

.item {
    display: inline-block;
}


.item-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.button-container {
    display: flex; 
    gap: 20px; 
}

.write-review {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: lightgray;
    border: none;
    color: black;

}

.button-container button{
    margin-top: 10px;
    background-color: gray;
    width: 70px;
    height: 30px;
    border: none;
}

.none img{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}