html{
    background-color: #f0f0f0;    
}

body { 
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

a{
    text-decoration: none;
    color:black;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 30px;
    background-color: transparent;
    border: none;

}

.profile{
    font-size: 20px;
    margin: 10px;
    padding: 10px 0;
    
}

.review_star{
    position:inherit;
    float: right;
    color:#004F25

}

.review_title{
    margin: 10px;
    padding-bottom: 10px;
}

.review_title h3{
    margin-bottom: 5px;
    font-size: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    background-color: #004F25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}

.myProfile{
    padding: 10px 30px;
}

.myProfile img{
    width:50px;
    display: inline;
    float: left;
}

.myProfile .user{
    display: inline;
    margin-left: 10px;
    line-height: 50px;
}

.myMenu{
    margin: 5px 30px;
    height: 40px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    font-size: 14px;
    position:relative;
}

.myMenu img{
    width:15px;
    margin: 10px;
    display: inline;
}

.review-section {
    padding: 20px 30px;
    
}
.review-header {
    display: flex;
    justify-content: space-between;
}

.review-header-block {
    width: 150px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
}
.review-header-block.active {
    background-color: #f2f2f2;
}

.image-grid {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.image-grid a{
    position:relative;
    width:100%;
    height: 0;
    padding-bottom: 100%;
}

.image-grid img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-grid .merchname{
    position: absolute;
    background-color: rgb(0,0,0,0.4);
    color:white;
    margin-bottom: 30px;
    top: 82px;
    width: 100%;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: unset;
    -webkit-line-clamp: 1;
    
}

.spec-image-grid{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.spec-image-grid img{
    position:relative;
    width:100px;
    height: 100px;
}

.review-image {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-content {
    background-color: #f2f2f2;
    padding: 15px;
    height: 400px;
    margin: 0 40px;
    font-size: 18px;
    
}
.review {
    margin-bottom: 10px;
    border-top: 1px solid #dcdcdc;
    padding: 10px 10px;
    
    display: flex;
    align-items: center;
    position: relative;
}

.review-text {
    margin-left: 10px;
    
}
.review-user {
    font-weight: bold;
}
.review-product {
    color: #808080;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: unset;
    -webkit-line-clamp: 1;
    width: 100%;
}
.review-description {
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: unset;
    -webkit-line-clamp: 2;
    width: 100%;
}

.review a{
    max-width: 100px;
    display: flex;
}
.review img{
    width:100px;
}

.page{
    display: flex; 
    justify-content: center; 
    
}

.page a{
    text-decoration: none;
    color:black;
}
