html{
    background-color: #f0f0f0;    
    overflow: visible;
}

body { 
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 140vh;
    padding: 20px;
    background-color: white;
    overflow: visible;
}

.body form {
    width: 370px;
}

.upload-preview-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-preview-container {
    flex: 1 1 auto;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 설정 */
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 0px;

    /* 스크롤 바 X */
    scrollbar-width: none; /* 파이어폭스 */
    -ms-overflow-style: none; /* 엣지 */
}

/* 크롬, 사파리, 오페라 스크롤 바 X*/
.image-preview-container::-webkit-scrollbar {
    display: none;
}

.picupload{
    flex: 0 0 auto;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    background: #eeeeee;
    border: 2px solid black;
    width:50px;
    height: 50px;
    border-radius: 5px;

}
.picupload img{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

.picupload p{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 30px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

.reviewarea{
    padding-bottom: 60px;
}
.fileinput{
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    background: rgb(170, 166, 166);
    border: 1px solid black;
    width:50px;
    height: 50px;
    border-radius: 5px;

}
.fileinput img{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

.fileinput p{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 15px;
}
.tb{
    width: 345px;
    height: 24px;
    display: block;
    margin-bottom: 5px;
    border-radius: 12px;
    border: 2px solid #ddd;
    transition: border-color 0.3s;
    padding: 5px;
}
.tb:hover,
.tb:focus {
    border-color: darkgreen;
}
.review {
    margin-right:30px;
    margin-left:20px;
}

textarea{
    width: 100%;
    border: 1px solid black;
    display: block;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    resize: none;
}

.star {
    display: flex;
}
#form_ fieldset{ /*별점 css*/
    display: inline-block;
    direction: rtl;
    border:0;
    margin-right: 80px;
    padding-left: 0px;
}
#form_ fieldset legend{
    text-align: right;
}
#form_ input[type=radio]{
    display: none;
}
 #form_ label{
    font-size: 150%;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#form_ label:hover{
    text-shadow: 0 0 0 #004F25;
}
#form_ label:hover ~ label{
    text-shadow: 0 0 0 #004F25;
}
#form_ input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #004F25;
}

input[type="submit"] {
    display: inline; 
    color: white;
    width: 100px;
    height: 30px;
    background-color: darkgreen;
    border-radius: 10px;
    border: none;
}


nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}
