html{
    background-color: #f0f0f0;    
    overflow: visible;
}

body { 
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
    overflow: visible;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 30px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

.reviewarea{
    padding-bottom: 60px;
}
.fileinput{
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    background: rgb(170, 166, 166);
    border: 1px solid black;
    width:50px;
    height: 50px;
    border-radius: 5px;

}
.fileinput img{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

.fileinput p{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 15px;
}
.bottom{
    border: none; /* 테두리 없앰 */
    border-bottom: 1px solid #000; /* 밑줄 효과 */
    padding: 5px; /* 여백 설정 */
    width: 100%;
    display: block;
}
.review {
    margin-right:30px;
    margin-left:20px;
}

textarea{
    width: 100%;
    border: 1px solid black;
    display: block;
    margin: 0;
    text-align: left;
    
}


#countstar {
    font-size: 150%;
    display: inline; 
    margin-right: 110px; 
}

input[type="button"] {
    display: inline; 
    color: white;
    width: 100px;
    height: 30px;
    background-color: darkgreen;
    border-radius: 10px;
    border: none;
}


nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}
