body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.content {
    width: 390px;
    height: 844px;
    background-color: #fff;
    padding: 20px;
}

.logo {
    text-align: center;
}

.category {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.items {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.product {
    width: 33%;
    height: 100%;
    margin-bottom: 4%;
    justify-content: center;
}

.page{
    display: flex; 
    justify-content: center; 
    
}

.page a{
    text-decoration: none;
    color:black;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    background-color: #004F25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}
