html{
    background-color: #f0f0f0; 
    font-family: 'Noto Sans KR', sans-serif;   
}

body {
    width: 390px;
    padding: 20px;
    margin: 0 auto;
    display: block;
    align-items: center;
    min-height: 140vh;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;  
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out; 
}
body.loaded {
    opacity: 1; /* 페이지가 로드되면 투명도를 0에서 1로 변경하여 나타나게 함 */
  }

.logo {
    text-align: center;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-size: 13px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
  
    color: #444;
    background-color: #fff;
  
    padding: 0.5em 1.0em 0.4em 0.8em;
    margin-left: 300px;
    margin-top: 15px;
    margin-bottom: 30px;

    text-align: center;
  
    border: none;
}

select:hover,
select:focus {
    border-color: darkgreen;
}
@keyframes shakeAnimation {
    0% {
        transform: translateY(-3px);
    }
    25% {
        transform: translateY(3px);
    }
    50% {
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

.product:hover {
    animation: shakeAnimation 0.5s ease-in-out;
}


.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.items {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
}

.product {
    width: 33%;
    height: 100%;
    margin-bottom: 8%;
    justify-content: center;
}

.product-name-overlay {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    text-align: center;
    padding: 3px 0;
}

.image-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 15px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-items p {
    text-align: center;
    margin-top: 20px;
}

.page{
    display: flex; 
    justify-content: center;
    bottom: 90px;
    left: 0;
    right: 0;
}

.page-nation ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.page-nation li{
    list-style: none;
    margin: 0 3px;
}

ul{
    padding: 3px;
    margin: 3px;
}
.page-nation{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d5eec7;
    border-radius: 3px;
    padding-bottom: 1px;
    background-color: #eef8e9;
    color: darkgreen;
}

.page-nation ul li a.other-page{
    text-decoration: none;
    color:black;
}

.page-nation ul li a.current-page {
    color: darkgreen;
    font-weight: bold;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    background-color: #004F25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}