html{
    width: 390px;
    height: 844px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 80px; /* 네비게이션 바의 높이만큼 공간 확보 */
}
a{
    text-decoration: none;
    color:black;
    
}

header {
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    margin: 0 auto;
    position: relative;
}

header button{
    position: absolute;
    left: 10px;
    background-color: transparent;
    border: none;
}

.profile-section {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-nickname {
    font-size: 24px;
    margin: 10px 0;
    text-align: left;
}
.star-rating {
    font-size: 15px;
    text-align: right;

}
nav {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    background-color: #004F25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}

.review-section {
    margin-top: 10px;
    padding: 0 30px;
    
}
.review-header {
    display: flex;
    justify-content: space-between;
}
.review-header-block {
    width: 150px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    
}
.review-header-block.active {
    background-color: #f2f2f2;
}
.image-grid {
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top:10px;
    gap: 10px;
    padding-left: 10px;
    padding-right: 30px;
}

.image-grid a{
    position:relative;
    width:100%;
    height: 0;
    padding-bottom: 100%;
}

.image-grid img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.review-image {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-content {
    background-color: #f2f2f2;
    padding: 10px;
    
}
.review {
    margin-bottom: 10px;
    border-top: 1px solid #dcdcdc;
    padding: 10px 10px;
    
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    
}
.review-text {
    margin-left: 10px;
    
}
.review-user {
    font-weight: bold;
}
.review-product {
    color: #808080;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: unset;
    -webkit-line-clamp: 1;
    width: 100%;
}
.review-description {
    margin-top: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: unset;
    -webkit-line-clamp: 2;
    width: 100%;
}
.review a, .review img{
    max-width: 100px;
    max-height: 100px;
}
