body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.content {
    width: 390px;
    height: 844px;
    background-color: #fff;
    padding: 20px;
}

.content form {
    width: 370px;
}

.upload-preview-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-preview-container {
    flex: 1 1 auto;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 설정 */
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 0px;

    /* 스크롤 바 X */
    scrollbar-width: none; /* 파이어폭스 */
    -ms-overflow-style: none; /* 엣지 */
}

/* 크롬, 사파리, 오페라 스크롤 바 X*/
.image-preview-container::-webkit-scrollbar {
    display: none;
}

.picupload{
    flex: 0 0 auto;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    background: #eeeeee;
    border: 2px solid black;
    width:50px;
    height: 50px;
    border-radius: 5px;

}
.picupload img{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

.picupload p{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button{
    position: absolute;
    margin-right: 350px;
    background-color: transparent;
    border: none;
}

.line{
    border: none;
    border-bottom: 1px solid #000;
    padding: 2px;
    width: 98%;
    display: block;
}

.category {
    text-align: left;
    margin-bottom: 10px;
}

.add textarea {
    width: 100%;
    box-sizing: border-box;
}

.add-button {
    justify-content: center;
    padding: 10px 100px;
    background-color: #004f25;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: 65px;
    margin-top: 8px;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    background-color: #004F25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}

.add {
    margin-left: 16px;
}
