html{
    background-color: #f0f0f0;  
    font-family: 'Noto Sans KR', sans-serif;  
}

body {
    width: 390px;
    padding: 20px;
    margin: 0 auto;
    display: block;
    align-items: center;
    min-height: 140vh;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    width: 100%;
}

.body form {
    width: 370px;
}

.upload-preview-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.image-preview-container {
    flex: 1 1 auto;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 설정 */
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 0px;

    /* 스크롤 바 X */
    scrollbar-width: none; /* 파이어폭스 */
    -ms-overflow-style: none; /* 엣지 */
}

/* 크롬, 사파리, 오페라 스크롤 바 X*/
.image-preview-container::-webkit-scrollbar {
    display: none;
}

.picupload{
    flex: 0 0 auto;
    margin-left: 15px;
    margin-top: 10px;
    padding: 10px;
    background: #eeeeee;
    border: 2px solid black;
    width:50px;
    height: 50px;
    border-radius: 5px;

}
.picupload img{
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
}

.picupload p{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 15px;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button{
    position: absolute;
    margin-right: 350px;
    background-color: transparent;
    border: none;
}

@keyframes circleAnimation {
    0% {
        box-shadow: 0 0 0 0 rgba(180, 199, 178, 0.7);
    }
    50% {
        box-shadow: 0 0 0 15px rgba(224, 255, 183, 0);
    }
}


input{
    width: 345px;
    height: 24px;
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
    border:none;
    border-bottom: 2px solid #f8f6f6;
    transition: border-color 0.3s;
    padding: 5px;
    background-color: #f8f6f6;
    font-family: 'Noto Sans KR', sans-serif;
}

input:hover,
input:focus {
    border-color: darkgreen;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-size: 13px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
  
    color: #444;
    transition: border-color 0.3s;
  
    padding: 0.5em 1.2em 0.6em 0.8em;
    margin: 0;
  
    border: 2px solid #f8f6f6;
    border-radius: 12px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  }

select:hover,
select:focus {
    border-color: darkgreen;
}

.category {
    text-align: left;
    margin-bottom: 10px;
    font-family: 'Noto Sans KR';
}

.add textarea {
    width: 355px;
    height: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #f8f6f6;
    border-radius: 12px;
    transition: border-color 0.3s;
}

textarea:hover,
textarea:focus {
    border-color: darkgreen;
}

.add-button {
    justify-content: center;
    padding: 10px 20px; 
    width: 360px;
    background-color: rgb(18, 133, 72);
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: 14px;
    margin-top: 24px;
    position: relative;
    overflow: hidden;
    transition: background-image 0.3s ease-in-out; /* 배경색 전환 효과 추가 */
}

.add-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), transparent); /* 밝은 색상으로 변경 */
    transition: left 0.6s ease-in-out; /* 왼쪽에서 오른쪽으로 밀어내며 변하는 효과 추가 */
}

.add-button:hover::before,
.add-button:focus::before {
    left: 100%;
}

.add-button:hover {
    background-image: linear-gradient(to right, rgb(15, 192, 92), #b9db8e); /* 밝은 색상으로 변경 */
}

.add-button:focus {
    background-image: linear-gradient(to right, rgb(18, 133, 72), rgb(141, 188, 59)); /* 원래의 배경색으로 변경 */
}

nav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    background-color: #004F25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}

.add {
    margin-left: 16px;
}
