html{
    background-color: #f0f0f0;   
    font-family: 'Noto Sans KR', sans-serif; 
}


body { 
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 0px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

.item {
    position: relative;
    margin: 20px;
}

.item .oi {
    position: absolute;
    top: 5px;
    right: 18px;
    /* 원하는 위치 조정 가능 */
}

.item-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.no-items p {
    text-align: center;
}

nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}
