html{
    background-color: #f0f0f0;   
    font-family: 'Noto Sans KR', sans-serif; 
}


body { 
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 0px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

.listarea{
    padding-bottom:60px;
}

.item {
    display: inline-block;
}

.item img {
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.item-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.item-details h4 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px;
}

.item-details p {
    font-size: 16px;
    margin-top: 0;
}

.item img:last-child {
    margin-left: 320px;
    margin-top: -25px; 
}

.oi{
    width: 30px;
    height: 30px;
}

.no-items p {
    text-align: center;
    margin-top: 20px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}
