html{
    background-color: #f0f0f0;    
    font-family: 'Noto Sans KR', sans-serif;
}

body { 
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

img {
    padding: 100px 140px;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: -70px;
}


.ment > .username-text {
    font-weight: bold !important;
    font-size: 30px !important;
}


.ment {
    text-align: center;
}

strong {
    color: darkgreen;
}

#line2{
    font-size: 20px;
}
.login-button {
    margin-left: 86px;
    justify-content: center;
    padding: 10px 60px;
    height: 47px;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    margin-top: 50px;
    background-color: #004f25;
    animation: blink 1.3s infinite alternate; 
}

@keyframes blink {
    from {
        background-color: #004f25;
    }
    to {
        background-color: #888; 
    }
}

