body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #f0f0f0; 
}

.content {
    position: relative;
    width: 390px;
    min-height: 100vh;
    background-color: #fff;
    padding: 20px; 
    padding-bottom: 0;;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
}

header h3{
    margin-top: -20px;
    position: relative;
}

.chat1 {
    display: flex;
    align-items: center;
}

.chat1 img {
    margin-right: 20px; 
}

.chat1 h4, .chat1 p {
    margin: 0;
    margin-left: 0;
}

.chat1 h4 {
    margin-top: -30px; 
}

.chat1 p{
    margin-left: -47px;
    margin-top: 30px;
    font-size: 13px;
    color: gray;
}

.chat2 {
    display: flex;
    align-items: center;
}

.chat2 img {
    margin-right: 20px; 
}

.chat2 h4, .chat2 p {
    margin: 0; 
    margin-left: 0; 
}
.chat2 h4 {
    margin-top: -30px; 
}

.chat2 p{
    margin-left: -47px;
    margin-top: 30px;
    font-size: 13px;
    color: gray;
}

.chatarea{
    padding-bottom: 60px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}