html{
    background-color: #f0f0f0; 
    font-family: 'Noto Sans KR', sans-serif;   
}

body { 
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header h3{
    position: relative;
}

.listarea{
    padding-bottom:60px;
}

.item {
    display: inline-block;
}

.item img {
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.item-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
    margin-top:30px;
}

.item-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.item-details p {
    font-size: 12px;
    margin-top: 0;
}

.item-details h4 a {
    font-size: 16px;
    margin-top: 0;
    color: #333; /* 텍스트 색상 변경 */
    text-decoration: none;
}


.item-details #buying {
    display: block;
    margin-top: 40px;
    margin-left: 0;
    border-radius: 10px;
    background-color: #004F25;
    border: none;
    width: 90px;
    height: 30px;
    color: white;

}

.item-details #buying_com {
    display: block;
    margin-top: 20px;
    margin-left: 0;
    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    border: none;
    width: 100px;
    height: 30px;
    color: rgb(206, 206, 206);

}


.none {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -8%;
    margin-top: 160px;
}

.none h4 {
    font-size: 20px;
    text-align: center;
}

nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}
