
html{
    background-color: #f0f0f0; 
    font-family: 'Noto Sans KR', sans-serif;   
}

body { 
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 0px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

#chatBox {
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 8px;
    padding: 8px;
    height: 10px;
    border-radius: 5px;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* 움직이는 거리 조절 */
    }
}

#chatBox p {
    font-size: 15px;
    padding: 8px;
    margin: 20px;
    border-radius: 14px;
    overflow: hidden;
    color: black;
    box-shadow: 5px 5px 10px 0 rgba(217, 214, 214, 0.8);
    background-image: linear-gradient(to right,rgb(229, 236, 224), #f0f4ea);
    animation: floating 3s ease-in-out infinite;
}

#messageInput {
    width: 310px;
    padding: 8px;
    margin-top: 10px;
    background-color: #f8f6f6;
    border: none;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;  
}

#messageInput:focus {
    outline: none; 
    border-color: #2dd77c;
}

#sendButton {
    padding: 8px 15px;
    color: white;
    background-color: rgb(154, 200, 108);
    border-radius: 5px;
    border:none;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;  
}

#sendButton:hover,
#sendButton:active {
    background-color: #29b56b; 
    color: white; 
}

#inputmsg{
    width: 390px;
    position: fixed;
    bottom: 70px;
    background-color: white;
}

nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
}

nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img {
    filter: invert(50%);
}

nav .nav-active {
    color: white;  
}

nav .nav-active img {
    filter: invert(100%);  
}
