html{
    background-color: #f0f0f0;   
    font-family: 'Noto Sans KR', sans-serif; 
}


body { 
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 140vh;
    padding: 20px;
    background-color: white;
    opacity: 0.8;
    transition: opacity 0.5s ease-in-out; 
}
body.loaded {
    opacity: 1; /* 페이지가 로드되면 투명도를 0에서 1로 변경하여 나타나게 함 */
  }

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 0px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

.item {
    padding: 20px;
    height: 100px;
    position: relative;
    overflow: hidden;
}


.item:hover {
    background-color: #f4f4f4;
    transition: background-color 0.5s ease;
}



.item-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    width:200px;
    height: 85px;
}

.no-items p {
    text-align: center;
}

#buying {
    display: block;
    border-radius: 10px;
    background-color: #004F25;
    border: none;
    width: 90px;
    height: 30px;
    color: white;
    margin-top: 20px;
    animation: floatAnimation 0.7s ease-in-out infinite alternate;
    cursor: pointer;
}
@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px); /* 움직이는 거리 조절 */
    }
}
#buying_com {
    display: block;
    border-radius: 10px;
    background-color: rgb(131, 131, 131);
    border: none;
    width: 90px;
    height: 30px;
    color: rgb(206, 206, 206);
    margin-top: 20px;
}

nav {
    position: fixed;
    bottom: 0;
    width: 430px;
    background-color: #004F25;
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: -20px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}
