body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* 밝은 흰색 배경 설정 */
}

.content {
    width: 390px;
    height: 844px;
    background-color: #fff; /* 메인 화면을 흰색으로 설정 */
    padding: 20px; /* 내용 주변에 여백을 추가합니다. */
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


header button{
    position: absolute;
    margin-right: 350px;
    margin-top: 30px;
    background-color: transparent;
    border: none;
}

header h4{
    margin-top: 50px;
    position: relative;
}


.mug {
    display: inline-block;
}

.mug img {
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.mug-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 35px;
    margin-top:30px;
}

.mug-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.mug-details p {
    font-size: 12px;
    margin-top: 0;
}

.doll {
    display: inline-block;
}

.doll img {
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.doll-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.doll-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.doll-details p {
    font-size: 12px;
    margin-top: 0;
}


.none img{
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 0px;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

nav {
    position: fixed;
    bottom: 0px;
    left: 49.5%;
    transform: translateX(-50%);
    width: 430px;
    background-color: #004F25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    
}
nav a {
    text-decoration: none;
    color: gray;
    flex: 1;
    text-align: center;
    font-size: 13px;
}

nav img{
    filter:invert(50%);
}

nav .nav-active{
    color:white;  
}

nav .nav-active img{
    filter:invert(100%);  
}