html{
    background-color: #f0f0f0;    
}

body { 
    font-family: Arial, sans-serif;
    margin: 0 auto;
    width: 390px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
}
.join {
    justify-content: center;
    padding: 3px;
}

header {
    background-color: #ffffff;
    height: 73.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


header button{
    position: absolute;
    left: 30px;
    background-color: transparent;
    border: none;

}

header h3{
    position: relative;
}

.picupload {
    padding: 5px 140px;
    text-align: center;
    justify-content: center;
}

.picupload img{
    width: 100px;
    display: block;
    margin-bottom: 20px;
}


input{
    width: 378px;
    height: 24px;
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
    border:none;
    border-bottom: 2px solid #f8f6f6;
    transition: border-color 0.3s;
    padding: 5px;
    background-color: #f8f6f6;
}

input:hover,
input:focus {
    border-color: darkgreen;
}

.join-button {
    justify-content: center;
    padding: 10px 165px; 
    background-color: #004F25;
    border: 2px solid darkgreen;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 35px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

#preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }  
