body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.content {
    width: 390px;
    height: 844px;
    background-color: #fff;
    padding: 20px;
}

.join {
    justify-content: center;
    padding: 3px;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button{
    position: absolute;
    margin-right: 350px;
    background-color: transparent;
    border: none;
}

.picupload {
    padding: 5px 140px;
    text-align: center;
    justify-content: center;
}

.picupload img{
    width: 100px;
    display: block;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: 378px;
    height: 20px;
}

.join-button {
    justify-content: center;
    padding: 10px 168px;
    background-color: #004f25;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-top: 50px;
}
