#header img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}
#header h3 {
    display: inline-block;
    margin-right: 70px;
    margin-left: 20px;
    margin-top: 5px;
}

.desk {
    display: inline-block;
}

.desk img {
    vertical-align: top;
    margin-left: 30px;
    margin-top:30px;
}

.desk-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.desk-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.desk-details p {
    font-size: 10px;
    margin-top: 0;
}

.desk input[type="button"] {
    display: block;
    margin-top: 30px;
    margin-left: 0;
    border-radius: 10px;
    background-color: darkgreen;
    border: none;
    width: 100px;
    height: 30px;
    color: white;

}

.ipad {
    display: inline-block;
}

.ipad img {
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.ipad-details {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top:30px;
}

.ipad-details h4 {
    font-size: 14px;
    margin-top: 0;
}

.ipad-details p {
    font-size: 10px;
    margin-top: 0;
}

.button-container {
    display: flex; 
    gap: 10px; 
}

.write-review {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background-color: lightgray;
    border: none;
    color: black;

}

.view-review {
    margin-top: 10px;
    background-color: gray;
    width: 70px;
    height: 30px;
    border: none;
    


}

.none img{
    margin-left: 30px;
    margin-top: 20px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navbar {
    background-color: darkgreen;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}


.navbar div {
    text-align: center;
    color: gray;
    font-size: 10px;
    text-decoration: none;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar img {
    width: 24px;
    height: 24px;
}

.navbar div:hover {
    color: white;
}

.navbar div:hover img {
    filter: brightness(0) invert(1);
}
