<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>

        <title>리뷰 전체보기</title>
        

    </head>
    <body>
        <header>
            <!--button onclick="goBack()">뒤로가기</button-->
            <!--img src="..\static\image\logo.png" width="100px" alt="로고" class="logo"-->
            <h3>리뷰 전체보기</h3>
        </header>
        <div class="review-section">
            
            <div class="image-grid" style="margin-right: 10px;">
                <a href="review_spec3.html"><img class="review-image" src="..\static\image\example2.jpeg" alt="리뷰 이미지">
                <div class="merchname">보스 QC45</div>
                </a>
                <a href="review_spec2.html"><img class="review-image" src="..\static\image\500.jpg" alt="리뷰 이미지">
                <div class="merchname">컴퓨터 책상</div></a>
                <a href="review_spec1.html"><img class="review-image" src="..\static\image\example.jpg" alt="리뷰 이미지">
                <div class="merchname">스타벅스 머그</div></a>
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
            </div>
        </div>

        <div class="page">
            <a href="#">&laquo; 이전</a>
            <a href="#" style="margin: 0 10px;">1</a>
            <a href="#" style="margin: 0 10px;">2</a>
            <a href="#" style="margin: 0 10px;">3</a>
            <a href="#" style="margin: 0 10px;">4</a>
            <a href="#" style="margin: 0 10px;">5</a>
            <a href="#">다음 &raquo;</a>
        </div>

        <nav>
            <a href="home.html"><img src="..\static\image\home.png" width="20px"><br>메인 홈</a></div>
            <a href="allReview.html" class="nav-active"><img src="..\static\image\write.png" width="20px"><br>전체 리뷰</a>
            <a href="상품등록.html"><img src="..\static\image\add.png" width="20px"><br>상품 등록</a>
            <a href="chatlist.html"><img src="..\static\image\chat.png" width="20px"><br>채팅 보기</a>
            <a href="myPage_1.html"><img src="..\static\image\user.png" width="20px"><br>My</a>
        </nav>



    </body>
</html>