<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/home.css"/>
    <title>오이소 Oiso</title>
</head>
<body>
    <div class="content">
    <header>
        <div class="logo"><img src="../img/오이소로고.png" width="100px" alt="로고" class="logo"></div>
    </header>
    <div class="category">
    <select id="category">
        <option value="all">전체</option>
        <option value="clothes">의류</option>
        <option value="furniture">가구</option>
        <option value="electronics">전자기기</option>
        <option value="living">생필품</option>
        <option value="etc">기타</option>
    </select></div>
    <div class="items">
        <div class="product"><a href="상품상세.html"><img src="..\img\mug.png" width="100px"></a></div>
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
        <div class="product"><img src="../img/item.png" width="100px"></div> <!-- Added ../ here -->
    </div>
    <div class="page">
        <a href="#">&laquo; 이전</a>
        <a href="#" style="margin: 0 10px;">1</a>
        <a href="#" style="margin: 0 10px;">2</a>
        <a href="#" style="margin: 0 10px;">3</a>
        <a href="#" style="margin: 0 10px;">4</a>
        <a href="#" style="margin: 0 10px;">5</a>
        <a href="#">다음 &raquo;</a>
    </div>
    <nav>
        <a href="home.html"><img src="../img/home.png" width="20px"><br>메인 홈</a> <!-- Added ../ here -->
        <a href="allReview.html"><img src="../img/write.png" width="20px"><br>전체 리뷰</a> <!-- Added ../ here -->
        <a href="상품등록.html"><img src="../img/add.png" width="20px"><br>상품 등록</a> <!-- Added ../ here -->
        <a href="#"><img src="../img/chat.png" width="20px"><br>채팅 보기</a> <!-- Added ../ here -->
        <a href="myPage_1.html"><img src="../img/user.png" width="20px"><br>My</a> <!-- Added ../ here -->
    </nav>
    </div>
</body>
</html>
