<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="../static/myPage.css"/>

        <title>마이페이지</title>
        

    </head>
    <body>
        <header>
            <!--button onclick="goBack()">뒤로가기</button-->
            <!--img src="..\static\image\logo.png" width="100px" alt="로고" class="logo"-->
            <h4>마이페이지</h4>
        </header>

        <div class="myProfile">
            <img src="..\static\image\profile.png">
            <div class="user">이화연 @1077</div>
            <img src="..\static\image\logout.png" style="float:right; display: inline; width:25px; margin-top: 12px;">
        </div>

        <div class="myMenu">
            <img src="..\static\image\plus.png"> 구매내역
            <img src="..\static\image\next.png" style="position: absolute; left:90%">
                        
        </div>
        <div class="myMenu">
            <img src="..\static\image\minus.png"> 판매내역
            <img src="..\static\image\next.png" style="position: absolute; left:90%">
        </div>
        <div class="myMenu">
            <img src="..\static\image\logo_m.png"> 내 오이목록
            <img src="..\static\image\next.png" style="position: absolute; left:90%">
        </div>

        <div class="review-section">
            <div class="review-header">
                <div class="review-header-block active">받은 리뷰</div>
                <div class="review-header-block"><a href="myPage_2.html">작성한 리뷰</a></div>
            </div>
            <div class="image-grid">
                <a href="review_spec1.html"><img class="review-image" src="..\static\image\example_.jpg" alt="리뷰 이미지"></a>
                <a href="review_spec1.html"><img class="review-image" src="..\static\image\example.jpg" alt="리뷰 이미지"></a>
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
                <img class="review-image" src="..\static\image\400.png" alt="리뷰 이미지">
            </div>

            <div class="review-content">

                <div class="review">
                    <a href="review_spec1.html" style="width: 100%;"><img src="..\static\image\example.jpg" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">김이화 @1886</div>
                        <div class="review-product">상품명: 스타벅스 머그</div>
                        <div class="review-description"><strong>물건이 설명과 같아요</strong> 스크래치도 별로 없고 튼튼해서 상품이 마음에 듭니다. 거래자분께서 친절하게 판매해주셨어요~</div>
                        
                    </div>
                    
                </div>
    
                <div class="review">
                    <a href="review_spec1.html" style="width: 100%;"><img src="..\static\image\400.png" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">김이화 @1886</div>
                        <div class="review-product">상품명: 스타벅스 머그</div>
                        <div class="review-description"><strong>물건이 설명과 같아요</strong> 스크래치도 별로 없고 튼튼해서 상품이 마음에 듭니다. 거래자분께서 친절하게 판매해주셨어요~</div>
                        
                    </div>
                    
                </div>
                
                <div class="review">
                    <a href="#" style="width: 100%;"><img src="..\static\image\400.png" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">김이화 @1886</div>
                        <div class="review-product">상품명: 스타벅스 머그</div>
                        <div class="review-description"><strong>물건이 설명과 같아요</strong> 스크래치도 별로 없고 튼튼해서 상품이 마음에 듭니다. 거래자분께서 친절하게 판매해주셨어요~</div>
                        
                    </div>
                    
                </div>
                <div class="review">
                    <a href="#" style="width: 100%;"><img src="..\static\image\400.png" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">김이화 @1886</div>
                        <div class="review-product">상품명: 스타벅스 머그</div>
                        <div class="review-description"><strong>물건이 설명과 같아요</strong> 스크래치도 별로 없고 튼튼해서 상품이 마음에 듭니다. 거래자분께서 친절하게 판매해주셨어요~</div>
                        
                    </div>
                    
                </div>
                <!-- 다른 리뷰들도 마찬가지로 추가 -->
            </div>
        </div>

        <nav>
            <a href="#"><img src="..\static\image\home.png" width="20px"><br>메인 홈</a>
                <a href="allReview.html"><img src="..\static\image\write.png" width="20px"><br>전체 리뷰</a>
                <a href="#"><img src="..\static\image\add.png" width="20px"><br>상품 등록</a>
                <a href="#"><img src="..\static\image\chat.png" width="20px"><br>채팅 보기</a>
                <a href="myPage_1.html"><img src="..\static\image\user.png" width="20px"><br>My</a>
        </nav>
    </body>
</html>