<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>내 오이 목록</title>
    <link rel="stylesheet" type="text/css" href="css/oilist.css">
</head>

<body>
    <div class="content">
    
        <header>
            <button onclick="goBack()"><img src="image/back.png" 
                alt="이전" style="width: 20px;"></button>
            <h4>내 오이목록</h4>
        </header>

    <div class="filmcamera">
        <img src="image/filmcamera.png" alt="필름카메라">
        <div class="filmcamera-details">
            <h4>필름카메라</h4>
            <p>판매가격: 20,000원</p>
        </div>
        <img src="image/oioi.png" alt="오이">
    </div>
    <br><br>
    <hr>
    <div class="hoodie">
        <img src="image/1886hoodie.png" alt="이화 1886 후드티">
        <div class="hoodie-details">
            <h4>이화 1886 후드티</h4>
            <p>판매가격: 11,000원</p>
        </div>
        <img src="image/oioi.png" alt="오이">
    </div>
    <br><br>
    <hr>
    <div class="book">
        <img src="image/book.png" alt="이화 1886 후드티">
        <div class="book-details">
            <h4>컴퓨터 구조 및 설계 도서</h4>
            <p>판매가격: 16,000원</p>
        </div>
        <img src="image/oioi.png" alt="오이">
    </div>
    <br><br>
    <hr>
    <div class="none">
        <img src="image/none.png" alt="빈 이미지">
        <br><br>
        <hr>
        <img src="image/none.png" alt="빈 이미지">
        <br><br>
    </div>
    <nav>
        <a href="allMerch.html"><img src="image/Home.png" width="20px"><br>메인 홈</a>
        <a href="allReview.html"><img src="image/Edit.png" width="20px"><br>전체 리뷰</a>
        <a href="index.html"><img src="image/plus.png" width="20px"><br>상품 등록</a>
        <a href="chatlist.html"><img src="image/Message.png" width="20px"><br>채팅 보기</a>
        <a href="myPage_1.html"><img src="image/User.png" width="20px"><br>My</a>
    </nav>


</div>
    
    
    
</body>
</html>