<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>

        <title>리뷰 상세</title>
        

    </head>
    <body>
        
        <header>
            <button onclick="goBack()"><img src="..\static\image\back.png" style="width:20px;"></button>
            <h4>리뷰 상세</h4>
            
        </header>

        


        <div class="review-section">

            <div class="profile">
                김이화 @1077
                <div class="review_star">
                    ★★★★★
                </div>
            </div>

            <div class="review_title">
                <h3>판매자가 친절해요</h3>
                상품명: 컴퓨터 책상 (가구/인테리어)

            </div>
            
            
            <div class="image-grid">
                <img class="review-image" src="..\static\image\500.jpg" alt="리뷰 이미지">

            </div>
        </div>

        <div class="review-content">
            물건이 설명과 같아요 상품이 마음에 듭니다 거래자가 친절해요
            
        </div>


        <nav>
            <a href="home.html" class="nav-active"><img src="..\static\image\home.png" width="20px"><br>메인 홈</a>
            <a href="allReview.html"><img src="..\static\image\write.png" width="20px"><br>전체 리뷰</a>
            <a href="상품등록.html"><img src="..\static\image\add.png" width="20px"><br>상품 등록</a>
            <a href="chatlist.html"><img src="..\static\image\chat.png" width="20px"><br>채팅 보기</a>
            <a href="myPage_1.html"><img src="..\static\image\user.png" width="20px"><br>My</a>
        </nav>

        <script>
            function goBack() {
                window.history.back();
            }
        </script>



    </body>
</html>