<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/로그인.css">
    <title>오이소 Login</title>
</head>
<body>
<div class="content">
    <img src="../오이소로고.png" width="150px" alt="oiso" class="logo"><br>
    <input type = "text" name="id" placeholder=" ID">
    <input type = "password" name="password" placeholder=" PW">
    <button class="login-button" onclick="toMain()">로그인</button>
    <p>계정이 없으신가요?</p>
    <a href="회원가입.html">가입하기</a>
    <script>
        function toMain() {
            window.location.href = "home.html";
        }
    </script>
</div>
</body>
</html>