<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/로그인.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>Login</title>
    <style>
        .red-text {
            color: red;
        }
    </style>
</head>
<body>
    <div class="content">
        <img src="{{ url_for('static', filename='image/logo.png') }}" width="150px" alt="oiso" class="logo float-image">
        <br>
        
        <form action="/login_" method="post"> <!-- 수정된 부분 -->
            <input type="text" name="id" placeholder=" 아이디">
            <input type="password" name="pw" placeholder=" 비밀번호"> <!-- 수정된 부분 -->
            <button class="login-button">로그인</button>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <br><span class="red-text">{{ message }}</span><br> <!-- 해당 메시지에 클래스 적용 -->
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p>계정이 없으신가요?<a href="/회원가입">회원가입</a></p>
        
    </div>
</body>
</html>
