<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>리뷰 작성</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/리뷰작성하기.css') }}">
</head>

<body>
        <header>
            <button onclick="goBack()"><img src="../../static/image/xmark.png" 
                alt="이전" style="width: 20px;"></button>
            <h3>리뷰 작성</h3>
        </header>

        <form id="form_" action="/reg_review" enctype="multipart/form-data"  method="post">
        <div class="reviewarea">
            <div class="upload-preview-container">
                <div class="picupload">
                    <label for="image"><img src="../../static/image/camera.png" alt="사진 업로드"></label>
                <input type="file" name="image[]" id="image" accept="image/*" multiple style="display: none;" onchange="checkImageCount()" required>
                <p id="image-count">0/10</p>
                </div>
                <div class="image-preview-container"></div>
            </div>
    
        <div class="review">
            <br>
            <input type="hidden" name="item_key" value="{{ item_key }}">
            <p>상품명</p>
            <input type="text" name="name" id="name" class="bottom" value="{{data.name}}" readonly>
            <p>리뷰자 ID</p>
            <input type="text" name="buyer_id" class="bottom" value="{{buyer_id}}" readonly>
            <input type="hidden" name="seller_id" value="{{ data.seller }}"> <!--판매자ID 숨기고 db저장-->
            <p>상품 가격</p>
            <input type="text" name="price" id="price" class="bottom" value="{{data.price}}원" readonly>
            <p>리뷰 제목</p>
            <input type="text" name="title" id="title" class="bottom" required>
            <p>리뷰 내용</p>
            <textarea name="content" id="content" rows="10" style="vertical-align: top;" placeholder="상품 리뷰를 20자 이상 입력해주세요." required></textarea>
    
            <div class="star"></div><p>별점</p>
                <fieldset>
                <input type="radio" name="reviewStar" value="5" id="rate1"><label
                for="rate1">★</label>
                <input type="radio" name="reviewStar" value="4" id="rate2"><label
                for="rate2">★</label>
                <input type="radio" name="reviewStar" value="3" id="rate3"><label
                for="rate3">★</label>
                <input type="radio" name="reviewStar" value="2" id="rate4"><label
                for="rate4">★</label>
                <input type="radio" name="reviewStar" value="1" id="rate5"><label
                for="rate5">★</label>
                </fieldset>
                <input type="submit" value = "리뷰 등록">
            </div>
        </div>
        </form>
        <nav>
            <a href="/메인화면"><img src="../../static/image/home.png" width="20px"><br>메인 홈</a>
            <a href="/리뷰전체보기"><img src="../../static/image/write.png" width="20px"><br>전체 리뷰</a>
            <a href="/상품등록"><img src="../../static/image/add.png" width="20px"><br>상품 등록</a>
            <a href="/채팅목록"><img src="../../static/image/chat.png" width="20px"><br>채팅 보기</a>
            <a href="/마이페이지1" class="nav-active"><img src="../../static/image/user.png" width="20px"><br>My</a>
        </nav>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script src="{{ url_for('static', filename='js/리뷰작성하기.js') }}"></script>
</body>

</html>
