<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="../static/css/리뷰전체보기.css"/>

        <title>리뷰 전체보기</title>
    </head>

    <body>
        <header>
            <h3>리뷰 전체보기</h3>
        </header>

        {% if total > 0 %}
        <div class="reviews">
            {% for key, value in datas %}
                <div class="review_div">
                    <a href="{{ url_for('view_review_detail', review_key=key) }}">
                    <div class="image-wrapper">
                        {% if value['img_path'] %}
                            <img src="{{ value['img_path'][0] }}" width="100px" onerror="this.onerror=null; this.src='../static/image/item.png'">
                        {% else %}
                            <img src="../static/image/item.png" width="100px">
                        {% endif %}
                        <div class="review-title-overlay">
                        {% if value['title'] and value['title']|length > 6 %}
                            {{ value['title'][:4] + '...' }}
                        {% else %}
                            {{ value['title'] or '리뷰제목' }}
                        {% endif %}</div>
                    </div>
                    </a>
                </div>
            {% endfor %}
            {% set current_page_item_count = datas|length %}
            {% set remaining_count = 18 - current_page_item_count %}
            {% for _ in range(remaining_count) %} <!--상품 없는 칸-->
            <div class="review_div">
            <div class="image-wrapper">
                <img src="../static/image/item.png" width="100px">
            </div>
            </div>
            {% endfor %}
        </div>

        <div class="page">
            <div class="page-nation">
                <ul>
                    <li>
                        {% if page > 0 %}
                            <a href="{{url_for('main', page=page-1)}}">&laquo; </a>
                        {% endif %}
                    </li>
                    <li>
                        {% for i in range(page_count) %}
                            <a href="{{url_for('all_review', page=i)}}" {% if i == current_page %}class="current-page"{% else %}class="other-page"{% endif %}>{{i+1}}</a>
                        {% endfor %}
                    </li>
                    <li>
                        {% if page < page_count - 1 %}
                            <a href="{{url_for('main', page=page+1)}}"> &raquo;</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% else %}
            <div class="no-items">
                <p>등록된 리뷰가 없습니다.</p>
            </div>
        {% endif %}

        <nav>
            <a href="/메인화면"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
            <a href="/리뷰전체보기" class="nav-active"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
            <a href="/상품등록"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
            <a href="/채팅목록"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
            <a href="/마이페이지1"><img src="../static/image/user.png" width="20px"><br>My</a>
        </nav>

    </body>
</html>
