<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>리뷰 작성</title>
    <link rel="stylesheet" type="text/css" href="../static/css/리뷰작성하기.css">
</head>

<body>
    <div class="content"> 
        <header>
            <button onclick="goBack()"><img src="../static/image/xmark.png" 
                alt="이전" style="width: 20px;"></button>
            <h3>리뷰 작성</h3>
        </header>
    
        <div class="fileinput">
            <label for="image"><i class="plus">
            <img src="../static/image/camera.png" alt="사진추가"></i></label>
            <p>0/10</p>
            <input type="file" id="image" style="display: none; visibility: none;">
        
        </div>
    
        <div class="review">
            <br>
            <p>상품명</p>
            <input type="text" name="name" class="bottom">
            <p>리뷰자 ID</p>
            <input type="text" name="id" class="bottom">
            <p>상품 가격</p>
            <input type="text" name="price" class="bottom">
            <p>리뷰 제목</p>
            <input type="text" name="subject" class="bottom">
            <p>리뷰 내용</p>
            <textarea name="review content" id="content" cols="50" rows="10" style="vertical-align: top;">
            상품 리뷰를 20자 이상 입력해주세요.</textarea>
    
            <div class="star"></div><p>별점</p>
                <p id="countstar">☆☆☆☆☆</p>
                <input type="button" value = "리뷰 등록">
            </div>
        </div>

        <nav>
            <a href="메인화면.html"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
            <a href="리뷰전체보기.html"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
            <a href="상품등록.html"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
            <a href="채팅목록.html"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
            <a href="마이페이지1.html" class="nav-active"><img src="../static/image/user.png" width="20px"><br>My</a>
        </nav>
    
    
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>

</html>
