<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="../static/css/마이페이지.css"/>

        <title>마이페이지</title>
    </head>

    <body>
        <script>
            function logout() {
                window.location.href = "/logout";
            }
        </script>

        <header>
            <h3>마이페이지</h3>
        </header>

        <div class="myProfile">
            {% if profile == '_' %}
                <img src="{{ url_for('static', filename='image/profile.png') }}">
            {% else %}
                <img src="{{ url_for('static', filename='image/' + profile) }}">
            {% endif %}
            <div class="user">{{name}} @{{my_id}}</div>
            <img src="../static/image/logout.png" onclick="logout()" style="float:right; display: inline; width:25px; margin-top: 12px;">
        </div>

        <div class="menu">
            <a href="구매내역">
            <div class="myMenu">            
                <img src="../static/image/plus.png"> 구매내역
                <img src="../static/image/next.png" style="position: absolute; left:90%">         
            </div>
            </a> 

            <a href="판매내역">
            <div class="myMenu">
                <img src="../static/image/minus.png"> 판매내역
                <img src="../static/image/next.png" style="position: absolute; left:90%">
            </div>
            </a>
            <a href="오이목록">
            <div class="myMenu">           
                <img src="../static/image/logo_m.png" style="filter:invert(0%)"> 내 오이목록
                <img src="../static/image/next.png" style="position: absolute; left:90%">
            </div>
            </a>
        </div>

        <div class="review-section">
            <div class="review-header">
                <div class="review-header-block" style="border-top-left-radius: 10px"><a href="/마이페이지1">받은 리뷰</a></div>
                <div class="review-header-block-active" style="border-top-right-radius: 10px">작성한 리뷰</div>
            </div>
            <div class="image-grid">
                <a href="리뷰상세2"><img class="review-image" src="../static/image/desk.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
            </div>
            
            <div class="review-content">
                {% if total > 0 %}
                    {% for key, value in lists %}
                        <div class="review">
                            <a href="리뷰상세1" style="width: 100%;"><img src="{{value.img_path}}" alt="상품 사진"></a>
                            <div class="review-text">
                                <div class="review-user">{{value.seller_name}} @{{value.seller_id}}</div>
                                <div class="review-product">상품명: {{value.name}}</div>
                                <div class="review-description"><strong>{{value.title}}</strong> {{value.content}}</div>
                                
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="review">
                        <div class="review-text">
                            <div class="review-user">등록된 리뷰가 없습니다</div>
                        </div>
                    </div>
                {% endif %}
                </div>
        </div>

        <nav>
            <a href="/메인화면"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
            <a href="/리뷰전체보기"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
            <a href="/상품등록"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
            <a href="/채팅목록"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
            <a href="/마이페이지1" class="nav-active"><img src="../static/image/user.png" width="20px"><br>My</a>
        </nav>

    </body>
</html>