<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        
        <link rel="stylesheet" type="text/css" href="../static/css/마이페이지.css"/>

        <title>마이페이지</title>
    </head>

    <body>
        <header>
            <h3>마이페이지</h3>
        </header>

        <div class="myProfile">
            <img src="../static/image/profile.png">
            <div class="user">이화연 @1077</div>
            <img src="../static/image/logout.png" style="float:right; display: inline; width:25px; margin-top: 12px;">
        </div>

        <div class="menu">
            <a href="구매내역.html">
            <div class="myMenu">            
                <img src="../static/image/plus.png"> 구매내역
                <img src="../static/image/next.png" style="position: absolute; left:90%">         
            </div>
            </a> 

            <a href="판매내역.html">
            <div class="myMenu">
                <img src="../static/image/minus.png"> 판매내역
                <img src="../static/image/next.png" style="position: absolute; left:90%">
            </div>
            </a>
            <a href="오이목록.html">
            <div class="myMenu">           
                <img src="../static/image/logo_m.png"> 내 오이목록
                <img src="../static/image/next.png" style="position: absolute; left:90%">
            </div>
            </a>
        </div>

        <div class="review-section">
            <div class="review-header">
                <div class="review-header-block"><a href="마이페이지1.html">받은 리뷰</a></div>
                <div class="review-header-block active">작성한 리뷰</div>
            </div>
            <div class="image-grid">
                <a href="리뷰상세2.html"><img class="review-image" src="../static/image/desk.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
                <a href="#"><img class="review-image" src="../static/image/item.png" alt="리뷰 이미지"></a>
            </div>
            
            <div class="review-content">

                <div class="review">
                    <a href="리뷰상세2.html" style="width: 100%;"><img src="../static/image/desk.png" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">이화연 @1077</div>
                        <div class="review-product">상품명: 컴퓨터 책상</div>
                        <div class="review-description"><strong>판매자가 친절해요</strong> 물건이 설명과 같아요 상...더보기</div>
                                           
                    </div>
                    
                </div>
                
                <div class="review">
                    <a href="#" style="width: 100%;"><img src="../static/image/item.png" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">김이화</div>
                        <div class="review-product">스타벅스 머그</div>
                        <div class="review-description"><strong>판매자가 친절해요</strong> 동해물과 백두산이 마르고 닳도록</div>
                        
                        
                    </div>
                    
                </div>
                <div class="review">
                    <a href="#" style="width: 100%;"><img src="../static/image/item.png" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">김이화</div>
                        <div class="review-product">스타벅스 머그</div>
                        <div class="review-description"><strong>판매자가 친절해요</strong> 동해물과 백두산이 마르고 닳도록</div>
                        
                        
                    </div>
                    
                </div>
                <div class="review">
                    <a href="#" style="width: 100%;"><img src="..\static\../static/image/item.png" alt="프로필 사진"></a>
                    <div class="review-text">
                        <div class="review-user">김이화</div>
                        <div class="review-product">스타벅스 머그</div>
                        <div class="review-description"><strong>판매자가 친절해요</strong> 동해물과 백두산이 마르고 닳도록</div>
                    </div>
                    
                </div>
            </div>
        </div>

        <nav>
            <a href="메인화면.html"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
            <a href="리뷰전체보기.html"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
            <a href="상품등록.html"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
            <a href="채팅목록.html"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
            <a href="마이페이지1.html" class="nav-active"><img src="../static/image/user.png" width="20px"><br>My</a>
        </nav>

    </body>
</html>