<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../static/css/메인화면.css"/>
    <script>
        var selectedCategory = "{{ selected_category }}";
    </script>
    <script src="{{ url_for('static', filename='js/메인화면.js') }}"></script>
    <title>오이소</title>
    <style>
        /* 이미지를 이용하여 아이콘 삽입 */
        .category select {
            padding-left: 20px; /* 아이콘과 텍스트 간격 조정 */
            background-image: url('../static/image/down.png'); /* 이미지 경로 확인 */
            background-repeat: no-repeat;
            background-position: left center;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-size: 20px 20px;
        }
    </style>
    
</head>

<body>
    <header>
        <div class="logo"><img src="../static/image/logo.png" width="100px" alt="로고" class="logo"></div>
    </header>

    <div class="category">
    <select id="category" onchange="filterByCategory()">
        <option value="all">전체보기</option>
        <option value="clothes">의류/패션</option>
        <option value="furniture">가구/가전</option>
        <option value="electronics">전자기기</option>
        <option value="living">생필품</option>
        <option value="etc">기타</option>
    </select></div>
    
    {% if total > 0 %}
    <div class="items">
            {% for key, value in datas %}
                <div class="product">
                    <a href="{{ url_for('view_item_detail', item_key=key) }}">
                    <div class="image-wrapper">
                        {% if value['img_path'] %}
                            <img src="{{ value['img_path'][0] }}" width="100px" onerror="this.onerror=null; this.src='../static/image/item.png'">
                        {% else %}
                            <img src="../static/image/item.png" width="100px">
                        {% endif %}
                        <div class="product-name-overlay">
                        {% if value['name'] and value['name']|length > 6 %}
                            {{ value['name'][:4] + '...' }}
                        {% else %}
                            {{ value['name'] or '상품명' }}
                        {% endif %}</div>
                    </div>
                    </a>
                </div>
            {% endfor %}
            {% set current_page_item_count = datas|length %}
            {% set remaining_count = 15 - current_page_item_count %}
            {% for _ in range(remaining_count) %} <!--상품 없는 칸-->
            <div class="product">
            <div class="image-wrapper">
                <img src="../static/image/item.png" width="100px">
            </div>
            </div>
            {% endfor %}
    </div>
    <div class="page">
        <div class="page-nation">
            <ul>
                <li>
                    {% if page > 0 %}
                        <a href="{{url_for('main', page=page-1)}}">&laquo; </a>
                    {% endif %}
                </li>
                <li>
                    {% for i in range(page_count) %}
                        <a href="{{url_for('main', page=i)}}" {% if i == current_page %}class="current-page"{% else %}class="other-page"{% endif %}>{{i+1}}</a>
                    {% endfor %}
                </li>
                <li>
                    {% if page < page_count - 1 %}
                        <a href="{{url_for('main', page=page+1)}}"> &raquo;</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
    {% else %}
        <div class="no-items">
            <p>등록된 상품이 없습니다.</p>
        </div>
    {% endif %}

    <nav>
        <a href="/메인화면" class="nav-active"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
        <a href="/리뷰전체보기"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
        <a href="/상품등록"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
        <a href="/채팅목록"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
        <a href="/마이페이지1"><img src="../static/image/user.png" width="20px"><br>My</a>
    </nav>

</body>
</html>
