<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/메인화면.css"/>
    <title>오이소</title>
</head>

<body>
    <div class="content">
    <header>
        <div class="logo"><img src="../static/image/logo.png" width="100px" alt="로고" class="logo"></div>
    </header>
    <div class="category">
    <select id="category">
        <option value="all">전체</option>
        <option value="clothes">의류</option>
        <option value="furniture">가구</option>
        <option value="electronics">전자기기</option>
        <option value="living">생필품</option>
        <option value="etc">기타</option>
    </select></div>
    
    <div class="items">
        <div class="product"><a href="상품상세.html"><img src="..\static\image\mug.png" width="100px"></a></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
        <div class="product"><img src="../static/image/item.png" width="100px"></div>
    </div>
    <div class="page">
        <a href="#">&laquo; 이전</a>
        <a href="#" style="margin: 0 10px;">1</a>
        <a href="#" style="margin: 0 10px;">2</a>
        <a href="#" style="margin: 0 10px;">3</a>
        <a href="#" style="margin: 0 10px;">4</a>
        <a href="#" style="margin: 0 10px;">5</a>
        <a href="#">다음 &raquo;</a>
    </div>

    <nav>
        <a href="/메인화면" class="nav-active"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
        <a href="/리뷰전체보기"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
        <a href="/상품등록"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
        <a href="/채팅목록"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
        <a href="/마이페이지1"><img src="../static/image/user.png" width="20px"><br>My</a>
    </nav>

    </div>
</body>
</html>
