<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/상품상세.css') }}">
    <title>상품 상세</title>
</head>
<body>
<div class="content">
    <header>
        <button onclick="goBack()"><img src="{{ url_for('static', filename='image/back.png') }}" style="width:20px;"></button>
        <h4>상품 상세</h4>
    </header>

    <div class="productimg">
        <div class="image-slider">
            {% if data['img_path'] %}
            {% for img_path in data['img_path'] %}
                <div class="slide">
                    <img src="{{ '../../' + img_path }}" width="300px">
                </div>
            {% endfor %}
            {% else %}
            <div class="slide">
                <img src="../../static/image/500.png" width="300px">
            </div>
            {% endif %}
            <!-- 왼쪽 화살표 버튼 -->
            <button class="slider-btn prev" onclick="plusSlides(-1)">
                <img src="{{ url_for('static', filename='image/back.png') }}" alt="Prev" style="width: 20px;">
            </button>
            <!-- 오른쪽 화살표 버튼 -->
            <button class="slider-btn next" onclick="plusSlides(1)">
                <img src="{{ url_for('static', filename='image/back.png') }}" alt="Next" style="transform: rotate(180deg); width: 20px;">
            </button>
        </div>
    </div>

<div class="seller">
    <a href="#"> <!--판매자 프로필 화면 연결 필요-->
        <div class="profile-circle">
        <img src="{{ url_for('static', filename='image/' + seller_profile) }}" width="70px" style="display: inline;">
        </div>
    </a>
    <p>{{ seller_name }} @{{ data['seller'] }}</p>
</div>
<div class="productinfo">
    <h3>{{ data['name'] }}</h3><p>등록 날짜 : {{ data['date'] }}</p>
    <p>거래 지역 : {{ data['place'] }}</p>
    <p>상태 : 
        {% if data['status'] == 'new' %}
        약간 사용함
        {% elif data['status'] == 'barely_used'%}
        거의 사용 안함
        {% elif data['status'] == 'lightly_used'%}
        약간 사용함
        {% else %}
        많이 사용함
        {% endif %}
    </p>
    <p>{{ data['description'] }}</p><br>
</div>
<div class="pricebar">
    <img src="{{ url_for('static', filename='image/oi.png') }}" width="40px" style="display: inline;">
    <span>{{ data['price'] }}원</span>
    <button>채팅하기</button><!--채팅 화면 연결 필요-->
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<script src="{{ url_for('static', filename='상품상세.js') }}"></script>
<nav>
    <a href="/메인화면" class="nav-active"><img src="{{ url_for('static', filename='image/home.png') }}" width="20px"><br>메인 홈</a>
    <a href="/리뷰전체보기"><img src="{{ url_for('static', filename='image/write.png') }}" width="20px"><br>전체 리뷰</a>
    <a href="/상품등록"><img src="{{ url_for('static', filename='image/add.png') }}" width="20px"><br>상품 등록</a>
    <a href="/채팅목록"><img src="{{ url_for('static', filename='image/chat.png') }}" width="20px"><br>채팅 보기</a>
    <a href="/마이페이지1"><img src="{{ url_for('static', filename='image/user.png') }}" width="20px"><br>My</a>
</nav>

</div>
</body>
</html>
