<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/상품상세.css"> <!-- Changed CSS path -->
    <title>상품 상세</title>
</head>
<body>
<div class="content">
    <header>
        <button onclick="goBack()"><img src="../img/back.png" style="width:20px;"></button> <!-- Changed image path -->
        <h4>상품 상세</h4>
    </header>
<div class="productimg">
    <img src="../img/mug.png" width="300px"> <!-- Changed image path -->
</div>
<div class="seller">
    <img src="../img/prof1.png" width="80px" style="display: inline;"> <!-- Changed image path -->
    <span>이화연 @1077</span>
</div>
<div class="productinfo">
    <h3>스타벅스 머그</h3><p>2023. 10. 03.</p>
    <p>깨끗해요 산 지 얼마 안 된 새 상품입니다~</p>
    <p>쿨거시 네고 가능</p><br>
</div>
<div class="pricebar">
    <img src="../img/oi.png" width="30px" style="display: inline;"> <!-- Changed image path -->
    <span>10,000원</span>
    <button>채팅하기</button>
</div>
<nav>
    <a href="메인화면.html"><img src="../img/home.png" width="20px"><br>메인 홈</a> <!-- Changed image and link paths -->
    <a href="리뷰전체보가.html"><img src="../img/write.png" width="20px"><br>전체 리뷰</a> <!-- Changed image and link paths -->
    <a href="상품등록.html"><img src="../img/add.png" width="20px"><br>상품 등록</a> <!-- Changed image and link paths -->
    <a href="#"><img src="../img/chat.png" width="20px"><br>채팅 보기</a> <!-- Changed image path -->
    <a href="마이페이지1.html"><img src="../img/user.png" width="20px"><br>My</a> <!-- Changed image and link paths -->
</nav>
</div>
</body>
</html>
