<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/웰컴페이지.css">
    <title>Welcome to Oiso</title>
</head>
<body>
<div class="content">
    <div class="profpic">
        <img src="../static/image/prof2.png" alt="프로필 사진" width="100px">
    </div>
    <div class="ment">
        <p>이화연 님,</p>
        <p>오이소에 오신 것을 환영합니다!</p>
    </div>
    <button class="login-button" onclick="login()">로그인하러 가기</button>
    <script>
        function login() {
            window.location.href = "로그인.html";
        }
    </script>
</div>
</body>
</html>
