<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>채팅상세</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/채팅상세.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>
<body>
    <div class="content">
        <header>
            <button onclick="goBack()"><img src="{{ url_for('static', filename='image/back.png') }}" 
                alt="이전" style="width: 20px;"></button>
            <h3>채팅상세</h3>
        </header>
        
        <div id="chatBox">
            {% if chat_messages %}
                {% for chat_data in chat_messages %}
                    <p> <strong>{{ chat_data['id'] }} : </strong> {{ chat_data['msg'] }} </p>
                {% endfor %}
            {% else %}
                <p>채팅 내역이 없습니다.</p>
            {% endif %}
        </div>    
        
        
        <div>
            <input type="text" id="messageInput" placeholder="메시지 입력">
            <button id="sendButton" onclick="sendMessage('{{ item_key }}')">전송</button>
        </div>

    </div>

    <script>
        function goBack() {
            window.history.back();
        }

        function sendMessage(itemKey) {
            var messageInput = document.getElementById("messageInput");
            var message = messageInput.value.trim();
            
            if (message !== "") {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/send_message", true);
                xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            var chatBox = document.getElementById("chatBox");
                            var newMessage = document.createElement("p");
                            newMessage.textContent = message;
                            chatBox.appendChild(newMessage);
                    
                            messageInput.value = "";
                    
                            //"채팅 내역이 없습니다." 메시지를 숨기도록 처리
                            var existingMessages = document.querySelectorAll("#chatBox > p");
                            if (existingMessages.length > 1) {
                                var noChatMessage = document.querySelector("#chatBox > p:first-child");
                                if (noChatMessage && noChatMessage.textContent === "채팅 내역이 없습니다.") {
                                    noChatMessage.style.display = "none";
                                }}
                        }
                    }
                };
                
                var data = JSON.stringify({
                    "item_key": itemKey,
                    "id": "{{ user_id }}",
                    "msg": message,
                    "timestamp": new Date().toISOString()
                });
                
                xhr.send(data);
            }
        }
        
    </script>
    <nav>
        <a href="/메인화면"><img src="{{ url_for('static', filename='image/home.png') }}" width="20px"><br>메인 홈</a>
        <a href="/리뷰전체보기"><img src="{{ url_for('static', filename='image/write.png') }}" width="20px"><br>전체 리뷰</a>
        <a href="/상품등록"><img src="{{ url_for('static', filename='image/add.png') }}" width="20px"><br>상품 등록</a>
        <a href="/채팅목록" class="nav-active"><img src="{{ url_for('static', filename='image/chat.png') }}" width="20px"><br>채팅 보기</a>
        <a href="/마이페이지1"><img src="{{ url_for('static', filename='image/user.png') }}" width="20px"><br>My</a>
    </nav>

</body>
</html>
