<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>채팅목록</title>
    <link rel="stylesheet" type="text/css" href='../static/css/채팅목록.css'>
</head>
<body>
    <div class="content">
        <header>
            <button onclick="goBack()"><img src="../static/image/back.png" 
                alt="이전" style="width: 20px;"></button>
            <h3>채팅목록</h3>
        </header>
    <br>
    
    <div class="listarea">
        {% if sell_total > 0 or buy_total > 0 %}
            {% for key, value in item_info_list.items() %}
                <div class="item">
                        <img src="{{ value.img_path }}" width="90px" alt="상품 사진">
                        <div class="item-details">
                            <h4><a href="{{ url_for('chat_detail', item_key=key) }}">{{ value.name }} 채팅방</a></h4>
                        </div>
                </div>
                <br><br>
                <hr>
            {% endfor %}
            {% for key, value in buyer_chatlist.items() %}
                <div class="item">
                    <a href="{{ url_for('chat_detail', item_key=key) }}">
                        <img src="{{ value.img_path }}" width="90px" alt="상품 사진">
                        <div class="item-details">
                            <h4><a href="{{ url_for('chat_detail', item_key=key) }}">{{ value.name }} 채팅방</a></h4>
                                {% if key in buylist %}
                                    <input type=button id="buying_com" value="구매완료">
                                {% else %}
                                    <input type=button id="buying" value="구매완료"
                                    onclick="location.href='/buying_complete?name={{ value.name }}&price={{value.price}}&img_path={{value.img_path}}&item_key={{key}}';">
                                {% endif %}
                        </div>
                    </a>
                </div>
                <br><br>
                <hr>
            {% endfor %}
        {% else %}
            <div class="none">
                <div class="item-details">
                    <h4>채팅내역이 없습니다</h4>
                </div>
                <br><br>
                <hr>
            </div>
        {% endif %}
    </div>
    
    
</div>

    <nav>
        <a href="/메인화면"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
        <a href="/리뷰전체보기"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
        <a href="/상품등록"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
        <a href="/채팅목록" class="nav-active"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
        <a href="/마이페이지1"><img src="../static/image/user.png" width="20px"><br>My</a>
    </nav>

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>