<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>채팅목록</title>
    <link rel="stylesheet" type="text/css" href='../static/css/채팅목록.css'>
</head>
<body>
    <div class="content">
        <header>
            <h3>채팅목록</h3>
        </header>
    <br>
    <div class="chatarea">
    <div class = "chat1">
        <img src="../static/image/prof2.png"width="50px" alt="프로필">
        <h4>김이화</h4>
        <p>안녕하세용~</p>
    </div>
    <br><hr><br>

    <div class = "chat2">
        <img src="../static/image/prof2.png" width="50px" alt="프로필">
        <h4>박컴공</h4>
        <p>팔렸나요?</p>
    </div>
    <br><hr>


</div>

    <nav>
        <a href="메인화면.html"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
        <a href="리뷰전체보기.html"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
        <a href="상품등록.html"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
        <a href="채팅목록.html" class="nav-active"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
        <a href="마이페이지1.html"><img src="../static/image/user.png" width="20px"><br>My</a>
    </nav>

</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>