<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>판매내역</title>
    <link rel="stylesheet" type="text/css" href="../static/css/판매내역.css">
</head>

<body>
<div class="content">
    <header>
        <button onclick="goBack()"><img src="../static/image/back.png" 
            alt="이전" style="width: 20px;"></button>
        <h3>판매내역</h3>
    </header>
        
   <div class="listarea">
    <div class="mug">
        <img src="../static/image/mug.png" width="90px" alt="스타벅스 머그">
        <div class="mug-details">
            <h4>스타벅스 머그</h4>
            <p>판매가격: 10,000원</p>
        </div>
    </div>
    <br><br>
    <hr>

    <div class="doll">
        <img src="../static/image/doll.png" alt="고슴도치 인형">
        <div class="doll-details">
            <h4>고슴도치 인형</h4>
            <p>판매가격: 7,000원</p>
        </div>
    </div>
    <br><br>
    <hr>
    
    <div class="none">
        <img src="../static/image/none.png" alt="빈 이미지">
        <br><br>
        <hr>
        <img src="../static/image/none.png" alt="빈 이미지">
        <br><br>
        <hr>
        <img src="../static/image/none.png" alt="빈 이미지">
        <br><br>
        <hr>
    </div>
</div>

    
    <nav>
        <a href="메인화면.html"><img src="../static/image/home.png" width="20px"><br>메인 홈</a>
        <a href="리뷰전체보기.html"><img src="../static/image/write.png" width="20px"><br>전체 리뷰</a>
        <a href="상품등록.html"><img src="../static/image/add.png" width="20px"><br>상품 등록</a>
        <a href="채팅목록.html"><img src="../static/image/chat.png" width="20px"><br>채팅 보기</a>
        <a href="마이페이지1.html" class="nav-active"><img src="../static/image/user.png" width="20px"><br>My</a>
    </nav>
    
</div>    
<script>
    function goBack() {
        window.history.back();
    }
</script>
    
</body>
</html>