<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/회원가입.css">
    <title>회원가입</title>
    <style>
        .req{
            color:red;
        }
    </style>
</head>
<body>
    <div class="content">
        <header>
            <button onclick="goBack()"><img src="{{ url_for('static', filename='image/back.png') }}" style="width:20px;"></button>
            <h4>회원가입</h4>
        </header>
        
        <form action="/회원가입" method="post" enctype="multipart/form-data">
            <div class="picupload">
                <label for="profile">
                    <img id="preview" src="{{ url_for('static', filename='image/profile.png') }}" alt="프로필 사진">
                </label>
                <input type="file" id="profile" name="profile" accept="image/*" style="display: none; visibility: none;" onchange="previewImage(event)">
            </div>
            <p>이름 <span class=req>*</span></p>
            <input type="text" id="name" name="name" class="join">
            <p>아이디 <span class=req>*</span></p> 
            <input type="text" id="id" name="id" class="join" placeholder="ID">
            <p>비밀번호 <span class=req>*</span></p> 
            <input type="password" id="pw" name="pw" class="join" placeholder="PW">
            <p>이메일 <span class=req>*</span></p> 
            <input type="text" id="email" name="email" class="join">
            <p>전화번호</p>
            <input type="text" id="phone" name="phone" class="join">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <br><br><span class="req">{{ message }}</span>
                {% endfor %}
            {% endif %}
        {% endwith %}

            <button type="submit" class="join-button">가입하기</button>
        </form>
        
        <script>
            function goBack() {
                window.location.href = "/";
            }

            function previewImage(event) { //추가한 프로필 사진을 미리 볼 수 있는 기능
                var reader = new FileReader();
                reader.onload = function() {
                    var preview = document.getElementById('preview');
                    preview.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }

        </script>
    </div>
</body>
</html>
